<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ParkView.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/regular.css/regular.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css/solid.min.css" />


    <style>
        body{
            font-family: "Yeseva One",Merriweather,Georgia,"Times New Roman",serif;
        }
        
        .card{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        

    </style>
</head>
<body style="margin-bottom:100px;">
    




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

