<h3>Deluxe Room</h3>
<div class="container ">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/images/RoomView/deluxe.webp" class="d-block w-100" alt="...">

        </div>
        <div class="col-sm-8">
            <h5>About this Room</h5>
            <br />
            <p>40-square-metre room offering two twin beds, bathroom with separate shower facility and powder room.</p>
        </div>
    </div>
</div>
<hr />
<br />

<h5>  Room Amenities</h5>
<div class="container ">
    
    <div class="row">
        <div class="col-sm">
            <ul>
                <li>Four complimentary bottles of drinking water</li>
                <li>Complimentary coffee and tea making facility</li>

                <li>Hyatt Grand Bed</li>


            </ul>
            </div>
        <div class="col-sm">
            <ul>
                <li>Walk-in dressing area</li>
                <li>65” Smart TV</li>

                <li>Voicemail/speakerphone</li>


            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li>In-room electronic safe</li>
                <li>Mini Bar</li>



            </ul>
        </div>
    </div>
</div>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Book a Stay With Us</button>
</div>