<div style="margin-top:100px;">
    <div class="container">
        <h3>Get in touch</h3>
        <ul>
            <li>
                White Field,
                Bangalore
                635096

            </li>
            <li>call us<a>+91 93345445</a></li>
            <li><email Address="parkview@gmail.com" Content="Mail Us"></email></li>
        </ul>
    </div>
</div>
