

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/bootstrap.js/bootstrap.min.js"></script>

    <style>
        *{
            margin : 0px;
            padding : 0px;
        }

        .img-container{
            position:relative;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    </style>
</head>
<body>
    <div class="img-container" id="top-part">
        <img src="~/images/OurBrand/image1.jpg" height="400px" style="width:100%;"  />
        <div class="centered" style="color:red">centered texts </div>

    </div>

    <div class="container" id="text section" style="height:200px; width:100%;padding:20px 20px;margin-top:50px">
        <p>
            Brand Explorer Award

            Be rewarded with a free night for every five unique brands you experience with the Brand Explorer Award. Here’s how it works:

            Pay an Eligible Rate, redeem points or redeem an earned Free Night Award at five different Hyatt brands and earn a free night at a Category 1-4 hotel.
            Earn a Free Night Award for every additional 5 unique Hyatt brands you stay at over the lifetime of your membership.
            A hotel must participate in World of Hyatt when an eligible stay occurs to be counted toward earning a Brand Explorer award.
            See full details here.
        </p>
    </div>
    <br />
    <div>
        <h2>--------------------------------Our Hotels -------------------------------</h2>
        <br />
        <p>For when nothing less than perfect will do, the eight brands across the Timeless Collection showcase impeccable service and thoughtful amenities, and prove some traditions are time-honored for a reason.</p>
        <div class="container" style="display:flex;">

            <div class="card" style="width: 18rem; margin: 20px 30px">
                <img src="~/images/OurBrand/goa-hotel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Goa</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin: 20px 30px">
                <img src="~/images/OurBrand/himachal-hotel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Himachal </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin: 20px 30px">
                <img src="~/images/OurBrand/munnar-hotel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Munnar </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


        </div>
    </div>


    <div>
        <h2>-------------------------------- We are Present in -------------------------------</h2>
        <br />
        <p>For when nothing less than perfect will do, the eight brands across the Timeless Collection showcase impeccable service and thoughtful amenities, and prove some traditions are time-honored for a reason.</p>
        <div class="container" style="display:flex;">

            <div class="card" style="width: 18rem; margin: 20px 30px">
                <img src="~/images/OurBrand/goa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Goa-Hotel </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin: 20px 30px">
                <img src="~/images/OurBrand/himachal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Himachal-Hotel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin: 20px 30px">
                <img src="~/images/OurBrand/munnar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Munnar-Hotel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


        </div>
    </div>



    




    
    
    

    <div>
        
    </div>
</body>
</html>
